Repository hedgedoc/hedgedoc, pull requests merged in 2024-04, with the labels that each got.

#5526 docs(auth-guides): update azure ad/entra id guide
  docs/content/guides/auth/azure-ad.md
  docs/content/guides/auth/entra-id.md
  docs/content/images/auth/auzre-active-directory-new-secret.png
  docs/content/images/auth/azure-active-directory-authentication.png
  docs/content/images/auth/azure-active-directory-navigation.png
  docs/content/images/auth/azure-active-directory-new-registration.png
  docs/content/images/auth/azure-active-directory-overview.png
  docs/content/images/auth/azure-active-directory-redirect-uri.png
  docs/content/images/auth/azure-active-directory-register.png
  docs/content/images/auth/entra-id-app-details.png
  docs/content/images/auth/entra-id-app-register.png
  docs/content/images/auth/entra-id-app-registration.png
  docs/content/images/auth/entra-id-client-secret.png
  docs/content/images/auth/entra-id-create-platform.png
  docs/content/images/auth/entra-id-dashboard.png
  docs/content/images/auth/entra-id-endpoints.png
  docs/content/images/auth/entra-id-login.png
  docs/mkdocs.yml
Labels: type: documentation

#5536 Allow custom uri protocols in links except for scripts
  frontend/src/components/common/html-to-react/__snapshots__/html-to-react.spec.tsx.snap
  frontend/src/components/common/html-to-react/html-to-react.spec.tsx
  frontend/src/components/common/html-to-react/html-to-react.tsx
Labels: type: feature enhancement

#5533 API tokens: add prefix and more strict validation
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/auth.service.ts
  backend/test/private-api/tokens.e2e-spec.ts
Labels: type: feature enhancement, feature: auth

#4829 feat(api/notes): prevent creating new notes with alias equal to an existing note ID
  backend/src/notes/alias.service.spec.ts
  backend/src/notes/alias.service.ts
  backend/src/notes/notes.service.spec.ts
  backend/src/notes/notes.service.ts
  backend/test/private-api/notes.e2e-spec.ts
  backend/test/public-api/notes.e2e-spec.ts
Labels: type: feature enhancement, scope: public API, security, scope: private API
